In [1]:
import pandas as pd

In [2]:
frame = pd.read_csv('test.tsv', delimiter='\t')

In [3]:
frame

   x   y
0  1   1
1  2   4
2  3   9
3  4  16

In [5]:
frame['z'] = [1, 8, , 64]

NameError: name 'NaN' is not defined

In [6]:
frame = pd.read_csv('test.tsv', delimiter='\t')

In [7]:
frame

   x     y
0  1   1.0
1  2   4.0
2  3   NaN
3  4  16.0

In [8]:
frame.fillna('', inplace=True)

In [9]:
frame

   x   y
0  1   1
1  2   4
2  3
3  4  16

In [10]:
frame.info

<bound method DataFrame.info of    x   y
0  1   1
1  2   4
2  3
3  4  16>

In [11]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
x    4 non-null int64
y    4 non-null object
dtypes: int64(1), object(1)
memory usage: 144.0+ bytes

In [12]:
import numpy as np

In [14]:
c = np.array([True, False])

In [15]:
c

array([ True, False], dtype=bool)